Package: com.watchersgrim.citrussb
Name: CitrusSB
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak to allow you to edit your carrier text.
Maintainer: WatchersGrim
Author: WatchersGrim
Section: Tweaks
Depends: mobilesubstrate, was.hbang.common (> 1.17)
